---
name: Auto Run Tests For Ubuntu with all push

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          sudo apt-get update --fix-missing
          sudo apt-get install -y libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libfreetype6-dev libportmidi-dev libjpeg-dev python3-setuptools python3-tk python3-dev pulseaudio xvfb
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          python -m pip install sphinx numpy>=1.21.0 "Cython>=3.0,<3.1"

      - name: Run all pytests suite with Xvfb (auto-detect video driver) and PulseAudio in tests
        run: |
          export SDL_AUDIODRIVER=disk  # Use disk-based audio driver
          export PULSE_SERVER=unix:/run/user/1000/pulse/native  # Optional, in case PulseAudio is needed
          xvfb-run --auto-servernum python -m pytest tests/ -vv --maxfail=1 --disable-warnings
